In [1]:
import pandas as pd
iris = pd.read_csv('./input_data/iris.csv')

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
iris['data_version'] = 1.0
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  data_version
0           5.1          3.5           1.4          0.2  setosa           1.0
1           4.9          3.0           1.4          0.2  setosa           1.0
2           4.7          3.2           1.3          0.2  setosa           1.0
3           4.6          3.1           1.5          0.2  setosa           1.0
4           5.0          3.6           1.4          0.2  setosa           1.0

In [3]:
from sqlalchemy import create_engine

import os
pgconfig = {
    'host': os.environ['DB_HOST'],
    'port': os.environ['DB_PORT'],
    'database': os.environ['DB_NAME'],
    'user': os.environ['DB_USER'],
    'password': os.environ['DB_PASSWORD']
}

engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}/{database}'.format(**pgconfig))

In [4]:
columns = ['data_version',
                  'sepal_length',
                  'sepal_width',
                  'petal_length',
                  'petal_width']

iris[columns].to_sql('iris_input', engine, if_exists='append', index=False)

In [5]:
%load_ext sql
dsl = 'postgres://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
%sql $dsl

'Connected: postgres@analysis'

In [6]:
%config SqlMagic.autopandas = True
df_input = %sql select * from iris_input
df_input.head()

 * postgres://postgres:***@db:5432/analysis
300 rows affected.

,id,data_version,sepal_length,sepal_width,petal_length,petal_width,create_timestamp
0,1,1.0,5.1,3.5,1.4,0.2,2019-10-18 17:03:48.453711
1,2,1.0,4.9,3.0,1.4,0.2,2019-10-18 17:03:48.453711
2,3,1.0,4.7,3.2,1.3,0.2,2019-10-18 17:03:48.453711
3,4,1.0,4.6,3.1,1.5,0.2,2019-10-18 17:03:48.453711
4,5,1.0,5.0,3.6,1.4,0.2,2019-10-18 17:03:48.453711